<!--users/templates/users/dashboard.html-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- add elements -->
    <script>
        form_count = 2;
        function clicked() {
            form_count ++;
            var container = document.getElementById('container');
            var para = document.createElement('p');
            para.innerText = 'flow_' + form_count;  
            container.appendChild(para);

            var text = document.createElement('input');
            text.type = 'text';
            text.name = 'flow_' + form_count;
            text.required = true;
            text.id = 'id_flow_' + form_count;
            
            container.appendChild(text);
            

            var x = document.createElement("BR");
            container.appendChild(x);
        }
    </script>
   <script>
        function test() {
            var container = document.getElementById('container');
            i = 0
            var dict = {}; // create an empty dict
            for (i in container.getElementsByTagName("input")){
                var y = container.getElementsByTagName("input")[i];
                if (y.name != undefined && y.value != undefined){
                    var nkey = y.name;
                    var value = y.value;
                    dict[nkey] = value;
                }
            }

            console.log("dict:");
            console.log(dict);
            window.localStorage.setItem("dict", JSON.stringify(dict));
            // To access above stored data:
            // var dict = JSON.parse(window.localStorage.getItem("dict"));

        }
    </script>

    {% extends 'base.html' %}
    {% block links %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <script src=Flow.txt></script>
    <script src=Suites.txt></script>
    {% endblock %}
    <title>Monarc</title>
</head>  


{% block content %}
<html>
  <body>
        <h2>Please select your suit and flows:</h2>

        <form autocomplete="off" method="post">
            {% csrf_token %}
            <p>{{ desc }}</p>
            {% if form %}
            <div class="autocomplete" style="width:500px;" id="container">
                {% for item in form %}
                        <p> {{item.name}}</p>
                            {{item}}
                            <br>
                {% endfor %}
            
                {% else %}
                    <p>No polls are available.</p>
                {% endif %}
            </div>
            <br>
            <button id="add-another" onclick=clicked()>+</button>
            <input type ="submit" id="testje" onclick=test()>
            <!-- <button onclick=getDivChildren()>Test me</button> -->
            <!-- <input type ="submit"/> -->
            <!-- <button type="submit" >Submit</button> -->
        </form>
    </body>
</html>
{% endblock %}

<!-- add more flow inputs -->
